body {
    font-family: Helvetica, Arial, sans-serif;
}
.topSection__logo {
    display: inline-block;
    width: 189px;
    height: 40px;
    background: url(../lobster_Logo_dark.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
